<%- include("partials/header.ejs") %>
<div class="success-delete">
<div class="box" style="width:50% ;">
<h2 class="head-message">Welcome To Writescape!</h2>
<p class="content">Writescape was born from a simple need — to let words breathe.This space isn’t about polished grammar or curated perfection. It's a haven for honesty. For all the thoughts we scribble in margins, the midnight drafts we never send, and the truths we’re still figuring out.Whether it's storytelling, silent rants, poetic fragments, or vulnerable reflections — everything here is shaped by raw emotion and deep thought.There’s no single theme, and maybe that’s the point. Life isn’t one genre either.So if you’ve ever felt too much, thought too deep, or wanted to scream quietly into a void — you’ll feel at home here.Thanks for stopping by. Stay. Read. Escape.</p>
</div>
</div>
<%- include("partials/footer.ejs") %>