<%- include("partials/header.ejs") %>
<div class="success-delete">
<div class="contact-box" style="width:50% ;">
<h2 class="head-message">Contact Us</h2>
<p class="contact-content" style="letter-spacing: 1px;">Reach us at : </p>
<p class="contact-content" style="text-align: right; letter-spacing: 1px;">writescape@gmail.com</p>
<p class="contact-content" style="letter-spacing: 1px;">Mobile : </p>
<p class="contact-content" style="text-align: right; letter-spacing: 1px;">+91 9821173195</p>
<p class="contact-content" style="letter-spacing: 1px;">Address : 
<p class="contact-content" style="text-align: right; letter-spacing: 1px;"></span>Madrid, Spain</p>
</div>
</div>
<%- include("partials/footer.ejs") %>