<%- include("partials/header.ejs") %>
<div class="success-delete">
<div class="box" style="width:50% ;">
<h2 class="head-message">Support our mission</h2>
<p class="content">Your contributions help us keep this platform running, ad-free, and full of valuable content. If you’ve found our work helpful or inspiring, consider making a small donation. Every bit counts and goes directly toward improving and sustaining this space for you and others.</p>
<p style="text-align: center; text-decoration: none; color:#F0F2DC; grid-column: span 2;">Donate Now</p>
</div>
</div>
<%- include("partials/footer.ejs") %>