<%- include("partials/header.ejs") %>
<form class="form" action="/home" method="POST">
    <input type="text" placeholder="Login ID" required>
    <input type="password" placeholder="Password" required>
    <input type="submit" value="Go to Home">
</form>
<%- include("partials/footer.ejs") %>