<%- include("partials/header.ejs") %>
<div style="text-align: center;">
<h1 class="heading">Congratulations!!</h1>
<h2 class="success-message">Your entry has been recorded.</h2>
<div class="more-options">
    <p><a style="text-decoration: none; color: black;" href="/create">Add More</a> | </p>
    <p><a style="text-decoration: none; color: black;" href="/view">View</a>  | </p>
    <p><a style="text-decoration: none; color: black;" href="/update">Update</a>  | </p>
    <p><a style="text-decoration: none; color: black;" href="/delete">Delete</a> | </p>
    <p><a style="text-decoration: none; color: black;" href="/home">Home</a></p>
</div>
</div>


</main>
</body>
</html>